@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply
    m-4
    bg-gray-200
}

.btn {
  @apply
    bg-amber-600
    py-2 px-3 my-2
    inline-block
    text-white
    rounded-md
    border-2
    border-amber-600
  /* background-color: orange;
  padding: 10px 15px;
  margin: 10px 0;
  display: inline-block;
  color: white;
  border-radius: 5px;
  border: 2px orange; */
}